/* .card:hover {
    transform: scale(1.02);
    background-color: antiquewhite;
}

.card table:hover,
.card form:hover,
.card a:hover {
    font-weight: bold;
    font-size-adjust: none;
}

.align-items-center img:hover {
    transform: perspective(1000px) rotateY(-15deg);
}

.align-items-center p:hover {
    transform: perspective(1000px) rotateY(15deg);
} */